<div class="container">
    <div class="well hoverwell thumbnail">
        <div class="row ">
            <div class="col-md-6">
                <i class="fa fa-utensils fa-10x"></i>
                <table class="table mt-5">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{combos.nombre}}</td>
                            <td>{{combos.precio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <br><br><br><br><br>
                <h2>Crunchy roll puntos</h2>
                <input type="text" class="form-control"> <button class="btn">Canjear</button>
            </div>

        </div>
    </div>

</div>