<nav class="navbar navbar-expand-lg navbar-default sticky-top">
    <a class="navbar-brand" href="#"><img src="assets/pizza.png" width="60px" height="45px"> <i> Crunchy Pizza</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" >Pizzas <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Extras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Promociones</a>
        </li>
      </ul>
      <div style="padding-left: 50px;"></div>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <button class="btn btn-default" >
              <img src="assets/carrito.png" width="30px" height="30px">
            </button> 
          </li>
          <li>
            <a class="nav-link"> Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>