<div class="container pt-3">
    <div class="row justify-content-between">
        <div class="imagen"><br><br><br>
            <H1><i><b>CRUNCHY ROYAL PIZZA</b></i></H1>
            <img src="/assets/pizza.png" height="70%">
        </div>

        <div class="col-4"><br><br>
            <h1>Sign Up </h1>
            <hr>
            <form [formGroup]="usuarioForm" autocomplete="off" novalidate>
                <div class="form-group" [ngClass]="{ 'error': NovalidNombre()} ">
                    <label for=" nombre">* Nombre:</label>
                    <em *ngIf="NovalidNombre() && usuarioForm.controls.nombre?.errors.required">Este campo es requerido</em>
                    <em *ngIf="NovalidNombre() && usuarioForm.controls.nombre?.errors.pattern">No se aceptan numero en nombre </em>
                    <input formControlName="nombre" id="nombre" type="text" class="form-control" placeholder="nombre... " />
                </div>
                <div class="form-group ">
                    <label for="apellido">  Apellido:</label>
                    <input formControlName="apellido" id="apellido" type="text" class="form-control" placeholder="apellido... " />
                </div>
                <div class="form-group" [ngClass]="{ 'error': NovalidDireccion()} ">
                    <em *ngIf=" NovalidDireccion() && usuarioForm.controls.direccion?.errors.required ">Este campo es requerido</em>
                    <label for="direccion">* Direccion:</label>
                    <textarea id="direccion" formControlName="direccion" class="form-control" placeholder="Direccion.. "></textarea>
                </div>

                <div class="form-group " [ngClass]="{ 'error': NoValidUsuario()} ">
                    <label for="usuario">* Usuario:</label>
                    <em *ngIf="NoValidUsuario() && usuarioForm.controls.usuario?.errors.required ">Este campo es requerido</em>
                    <input formControlName="usuario" id="usuario" type="text " class="form-control" placeholder="usuario... " />
                </div>
                <div class="form-group " [ngClass]="{ 'error': NoValidPassword()} ">
                    <label for="password ">* Contraseña:</label>
                    <em *ngIf="NoValidPassword() && usuarioForm.controls.password?.errors.required ">Este campo es requerido</em>
                    <input formControlName="password" id="password" type="password" class="form-control" placeholder="constraseña... " />
                </div>
                <br>

                <button type="submit" class="btn btn-primary">Sign in</button><br><br><br>
            </form>
        </div>
    </div>
</div>