<br><br>
<div class="container">
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div *ngFor="let p of Pizzas" class="col-4">
                <div class="well hoverwell thumbnail">
                    <a href="#">
                        <div><img src="/assets/superOfertas/{{p?.img}}.jpg" width="100%" height="250px"></div><br>
                        <button class="btn"> {{p?.name}}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>